  <h1>Información del Usuario</h1>
  <div id="user-info">
    <p><strong>Nombre:</strong> <span id="first-name"></span></p>
    <p><strong>Apellido:</strong> <span id="last-name"></span></p>
    <p><strong>Email:</strong> <span id="email"></span></p>
    <p><strong>Edad:</strong> <span id="age"></span></p>
    <p><strong>Rol:</strong> <span id="role"></span></p>
    <p><strong>CartId:</strong> <span id="cartid"></span></p>
  </div>
  <script src="/js/user.js"></script>